### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
#calculating total number of players
totalNumOfPlayers = len(purchase_data["SN"].value_counts())
print("Total Number of Players: " + str(len(purchase_data["SN"].value_counts())))

#placing in dataframe
total_players = pd.DataFrame({"Total Players": [totalNumOfPlayers]})
total_players

Total Number of Players: 576

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#finding number of unique items 
numOfUnique = purchase_data["Item ID"].nunique()

#finding average price 
averagePurchasePrice = purchase_data["Price"].mean()

#finding total number of purchases
totalNumOfPurchases = len(purchase_data["Purchase ID"].value_counts())

#calculating total revenue 
totalRevenue = purchase_data["Price"].sum()

#placing all data in the dataframe
purchaseAnalysis = pd.DataFrame({"# of Unique Items": [numOfUnique],"Avg. Price": averagePurchasePrice, "# Of Purchases":totalNumOfPurchases, "Total Revenue": totalRevenue })
purchaseAnalysis

   # of Unique Items  Avg. Price  # Of Purchases  Total Revenue
0                179    3.050987             780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [12]:
#accessing only SN and Gender column
g_demographics = purchase_data[["SN", "Gender"]]
g_demographics = g_demographics.drop_duplicates()

#finding total per gender
total = g_demographics["Gender"].value_counts()

#calculating percent via formula
perc = (total/totalNumOfPlayers)*100

#placing results in a dataframe
gender_demo_results = pd.DataFrame({"Total Count": total, "Percent Of Players": perc})
gender_demo_results

                       Total Count  Percent Of Players
Male                           484           84.027778
Female                          81           14.062500
Other / Non-Disclosed           11            1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#accessing purchase ID and gender columns
g_purchase = purchase_data[["Purchase ID", "Gender"]]

#calculating purchase count
p_count = g_purchase["Gender"].value_counts()

#grouping data by gender and finding total and average purchase value
g_group = purchase_data.groupby(['Gender'])
g_avg_purchase = g_group["Price"].mean()
g_total_purchase = g_group["Price"].sum()

#calculating average total purchase per person
avg = g_total_purchase/total

#placing results in a new dataframe
g_purchasing_analysis = pd.DataFrame({"Purchase Count": p_count, "Avg. Purchase Price": g_avg_purchase, "Total Purchase Value": g_total_purchase, "Avg. Total Purchase / Person": avg})
g_purchasing_analysis

,Purchase Count,Avg. Purchase Price,Total Purchase Value,Avg. Total Purchase / Person
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
#creating bins
bins = [0, 9, 14, 19, 24, 29, 34, 39, 45]

#creating names for each bin
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#placing data into bins via pd.cut
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bins, labels=group_names, include_lowest=True)

#grouping the ages
ageGroup = purchase_data.groupby("Age Range")

#finding the age count using the SN column and filtering out duplicates
totalAgeCount = ageGroup["SN"].nunique()

#formula to find the percentage of players
percTot_count = (totalAgeCount/totalNumOfPlayers)*100

#placing results in a dataframe
age_demo_results = pd.DataFrame({"Total Count": totalAgeCount,"Percentage of Players": percTot_count})
age_demo_results

           Total Count  Percentage of Players
Age Range
<10                 17               2.951389
10-14               22               3.819444
15-19              107              18.576389
20-24              258              44.791667
25-29               77              13.368056
30-34               52               9.027778
35-39               31               5.381944
40+                 12               2.083333

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#finding purchase count, average purchase price, total purchase, and average total purchase per person
#using groupby to group the data by age range from the part before
default = ageGroup["Age"].count()
t_group = purchase_data.groupby(["Age Range"])
avgPurchasePrice = t_group["Price"].mean()
totalPurchaseValue = t_group["Price"].sum()
avgTotalPerPerson = totalPurchaseValue/totalAgeCount

#placing results in a dataframe
purchasing_results = pd.DataFrame({"Purchase Count": default,"Average Purchase Price": avgPurchasePrice,"Total Purchase Price": totalPurchaseValue , "Avg. Total Purchase / Person" : avgTotalPerPerson})
purchasing_results

,Purchase Count,Average Purchase Price,Total Purchase Price,Avg. Total Purchase / Person
Age Range,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
#first group all of the data by screen name 
#then find values 
#sort_values(ascending = false)
#.head for the first 5 values
grouped_SN = purchase_data.groupby('SN')
purchase_count = purchase_data["SN"].value_counts()
average_purchase = grouped_SN["Price"].mean()
total_purchase_value = (purchase_count)*(average_purchase)

#placing results into a dataframe
top_spenders_results = pd.DataFrame({"Purchase Count": purchase_count,"Average Purchase Price": average_purchase, "Total Purchase Value": total_purchase_value})
top_spenders_results.sort_values(["Total Purchase Value"], ascending = False).head()

             Purchase Count  Average Purchase Price  Total Purchase Value
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
#grouping data by Item ID
#exact same concept as the previous part but just using Item ID
grouped_item = purchase_data.groupby('Item ID')
ID = purchase_data["Item ID"]
item_name = purchase_data["Item Name"]
itemPurchaseCount = purchase_data["Item ID"].value_counts()
itemPrice = purchase_data["Price"]
totalItemPrice = itemPurchaseCount * itemPrice

#place results into a dataframe
most_popular_results = pd.DataFrame({ "Item Name": item_name, "Purchase Count": itemPurchaseCount, "Item Price":itemPrice, "Total Purchase Value": totalItemPrice})
most_popular_results.sort_values(["Purchase Count"], ascending = False).head()

,Item Name,Purchase Count,Item Price,Total Purchase Value
92,"Betrayal, Whisper of Grieving Widows",13.0,3.94,51.22
178,"Despair, Favor of Due Diligence",12.0,4.60,55.20
145,Hopeless Ebon Dualblade,9.0,1.33,11.97
132,Fiery Glass Crusader,9.0,4.58,41.22
108,Malificent Bag,9.0,1.75,15.75

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
#displaying data from before
most_profitable_results = pd.DataFrame({ "Item Name": item_name, "Purchase Count": itemPurchaseCount, "Item Price":itemPrice, "Total Purchase Value": totalItemPrice})

#resorting the data from before
most_profitable_results.sort_values(["Total Purchase Value"], ascending = False).head()

,Item Name,Purchase Count,Item Price,Total Purchase Value
178,"Despair, Favor of Due Diligence",12.0,4.60,55.20
92,"Betrayal, Whisper of Grieving Widows",13.0,3.94,51.22
132,Fiery Glass Crusader,9.0,4.58,41.22
82,Azurewrath,9.0,4.40,39.60
19,"Blazefury, Protector of Delusions",8.0,4.64,37.12